.navbar-brand {
  margin-right: 50rem;
  margin-left: 10rem;
}
.navbar-light .navbar-nav .nav-link {
  color: #1c3ed3;
  font-size: 1.2rem;
  font-weight: 400rem;
}
.bg-light {
  box-shadow:  -1px 1px 0px #383333;
}

